html{
    background: #21075a;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    font-size: 1vw;
}
*{
    box-sizing: border-box;
}
.contentWrapper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.movieCard,.actorCard{
    width: 500px;
    background: #4c21b9;
    align-items: flex-start;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 50px black;
    height: 920px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 2%;
    position: relative;
    display: none;
}
.movieCardAlt{
    width: 80vw;
    height: auto;
}
.movieDetailed{
    display: none;
    height: 97%;
    position: relative;
    color: white;
    margin-left: 10px;
}
.movieDetailedActive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 73%;
    padding: 15px;
}
.movieDetailedText,.actorDetailedText{
    padding: 10px;
    font-size: 25px;    
    margin-top: 30px;
    text-align: left;
    font-weight: 300;
}
.movieDetailedTitle,.actorMainFilmsWrapperTitle{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.movieBrief,.actorBrief{  
    width: 100%;  
    height: 100%;   
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 50px black;
    padding: 15px 0;
    color: white;
    cursor: pointer;
    position: relative;
    border-radius: 2%;
    margin-left: 0;
}
.movieBriefAlt{
    width: 500px;
    margin-left: 20px;
    border: none;
    box-shadow: none;
    background: none;
}
.movieClose{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.movieClose:hover{
    color:#140830
}
.movieCloseAlt{
    display: block;
}
.movieImg{
    width: 100%;
    height: 700px;
    margin-top: 10px;
}
.movieTitle{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 61px;
    padding: 0 5px
}
.movieDescr,.actorDescr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.movieGenres{
    margin-left: 10px;
    text-align: center;
}
.movieLength{
    margin-left: 10px;
    margin-right: 10px;
}
.movieCompanyDescr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 10px;
}
.movieCompanyLogo{
    width: 130px;
    height: 60px;
}
.movieRating{
    width: 50px;
    height: 50px;
    background: #21075a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;    
}
.movieDetailedActorsWrapper{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    align-items: stretch;
}
.movieDetailedActors{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 20px;
    text-align: center;
    width: 18%;
    height: 100%;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
    transition: 0.5s all
}
.movieDetailedActorsName{
    height: 48px;
}
.movieDetailedActors:hover{
    background: #3e16a4;
    transform: scale(1.1)
}
.movieDetailedActorsAvatar{
    width: 6rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.movieRecommendationsWrapper,.actorDetailedMainFilmsWrapper{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    align-items: end;
    font-weight: 700;
    margin-top: 10px;
}
.movieRecommendationsItem{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
    transition: 0.5s all;
}
.movieRecommendationsItem:hover{
    background: #3e16a4;
    transform: scale(1.1)
}
.movieRecommendationsImg{
    width: 9rem;
    height: 9rem;
    margin-top: 5px;
}
.movieRecommendationsText{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
form{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    color:white;
    background: #4c21b9;
    padding: 5px;
}
.radios{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: self-start;
}
.radioButton{
    margin-top: 10px;
}
.radioButton input{
    transform: scale(1.7);
}
.searchText{
    font-size: 30px;    
}
.search,.submit{
    height: 70px;
    border: 1px solid black ;
    box-shadow: 3px 3px black;
    font-size: 20px;
    text-align: center;
    border-radius: 10px
}
.search{
    height: 50px;
    width: 50%;
    position: relative;
}
.submit{
    width: 20%;
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
    background: white;
    cursor: pointer;
}
.submit:hover{
    background: #ebe3e3
}
.fromRecommendations{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    margin: 0;
    margin-top: 50px;
    width: 100%;
}
.formAlt{
    position: fixed;
    top: 0;
    transform: translate(-50%,0);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.radiosAlt{
    flex-direction: row;
}
.radiosAlt .radioButton{
    margin-left: 10px;
    margin-top: 0;
}



.ispinner {
    position: relative;
    width: 20px;
    height: 20px; }
    .ispinner .ispinner-blade {
      position: absolute;
      top: 6.5px;
      left: 8.5px;
      width: 2.5px;
      height: 6.5px;
      background-color: #8e8e93;
      border-radius: 1.25px;
      animation: iSpinnerBlade 1s linear infinite;
      will-change: opacity; }
      .ispinner .ispinner-blade:nth-child(1) {
        transform: rotate(45deg) translateY(-6.5px);
        animation-delay: -1.625s; }
      .ispinner .ispinner-blade:nth-child(2) {
        transform: rotate(90deg) translateY(-6.5px);
        animation-delay: -1.5s; }
      .ispinner .ispinner-blade:nth-child(3) {
        transform: rotate(135deg) translateY(-6.5px);
        animation-delay: -1.375s; }
      .ispinner .ispinner-blade:nth-child(4) {
        transform: rotate(180deg) translateY(-6.5px);
        animation-delay: -1.25s; }
      .ispinner .ispinner-blade:nth-child(5) {
        transform: rotate(225deg) translateY(-6.5px);
        animation-delay: -1.125s; }
      .ispinner .ispinner-blade:nth-child(6) {
        transform: rotate(270deg) translateY(-6.5px);
        animation-delay: -1s; }
      .ispinner .ispinner-blade:nth-child(7) {
        transform: rotate(315deg) translateY(-6.5px);
        animation-delay: -0.875s; }
      .ispinner .ispinner-blade:nth-child(8) {
        transform: rotate(360deg) translateY(-6.5px);
        animation-delay: -0.75s; }
    .ispinner.ispinner-large {
        position: absolute;
        top: 50%;
        width: 35px;
        height: 35px;  
        transform: translate(0,-50%);
        display: none;
     }
      .ispinner.ispinner-large .ispinner-blade {
        top: 11.5px;
        left: 15px;
        width: 5px;
        height: 12px;
        border-radius: 2.5px; }
        .ispinner.ispinner-large .ispinner-blade:nth-child(1) {
          transform: rotate(45deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(2) {
          transform: rotate(90deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(3) {
          transform: rotate(135deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(4) {
          transform: rotate(180deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(5) {
          transform: rotate(225deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(6) {
          transform: rotate(270deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(7) {
          transform: rotate(315deg) translateY(-11.5px); }
        .ispinner.ispinner-large .ispinner-blade:nth-child(8) {
          transform: rotate(360deg) translateY(-11.5px); }
  
  @keyframes iSpinnerBlade {
    0% {
      opacity: 0.85; }
    50% {
      opacity: 0.25; }
    100% {
      opacity: 0.25; } }




.actorCard{
    width: 250px;
    height: 430px;
}
.actorImg{
    width: 100%;
    height: 85%;
    min-height: 335px;
    margin-top: 10px;
}
.actorDescr{
    margin-top: 10px;
}
.actorCardAlt{
    width: 80vw;
    height: auto;
}
.actorBriefAlt{
    width: 250px;
    margin-left: 20px;
    border: none;
    box-shadow: none;
    background: none;
}
.actorClose{
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.actorClose:hover{
    color:#140830
}
.actorCloseAlt{
    display: block;
}
.actorDetailed{
    display: none;
    height: 97%;
    position: relative;
    color: white;
    margin-left: 10px;
}
.actorDetailedActive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 82%;
    padding: 15px;
    height: 100%;
}
.actorMainFilmsItem{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
    transition: 0.5s all
}

.actorMainFilmsItem:hover{
    background: #3e16a4;
    transform: scale(1.1);
}
.actorMainFilmsImg{
    width: 12rem;
    height: 9rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.actorDetailedMainFilmsWrapper{
    align-items: center;
    margin-bottom: 30px;
}

.reference{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:white;
    display: flex;
    align-items:center;
    font-size: 14px;    
}
.reference a{
    display: flex;
    align-items:center;
    margin-left: 5px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.reference a:hover{
    text-decoration: underline;
}

.warning{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 20px;
    color: white
}